This notebook is to generate the information needed to annotate a phylogenetic tree with score information

In [2]:
! ls ..

array_commands	 notebooks	    users
busco_downloads  protein_sequences  vertebrate_genomes_list.txt
data		 raw_results	    vertebrate_species_taxid.txt
gc_content	 results	    vertebrate_tree.txt
genomes		 scripts	    vert_sp_taxid.txt

In [40]:
sp_id_dict = {}
sp_name_dict = {}

In [41]:
with open('../vert_sp_taxid.txt', 'r') as myfile:
    for i in myfile:
        sp = i.split('\t')[0].replace(' ','_')
        sp_space = i.split('\t')[0]
        taxid = i.split('\t')[-1].replace('\n','')
        sp_lower = sp.lower()
        sp_id_dict[sp_lower] = taxid
        sp_name_dict[sp_lower] = sp_space

In [52]:
import pandas as pd

In [56]:
df = pd.read_csv('../results/busco_overview_tools.csv')

In [57]:
df['taxonID'] = df['species'].map(sp_id_dict)
df['score'] = df['percentage']/100
df['species_space'] = df['species'].map(sp_name_dict)

In [58]:
df[(df['tool']=='geneidblastx')&(df['BUSCO_tag']=='Complete')]

,Unnamed: 0,n_markers,domain,species,tool,gene_count,BUSCO_tag,percentage,taxonID,score,species_space
1,1,3354,eukaryota,amphiprion_percula,geneidblastx,21336,Complete,52.9,161767,0.529,Amphiprion percula
7,7,3354,eukaryota,anabas_testudineus,geneidblastx,17856,Complete,50.3,64144,0.503,Anabas testudineus
13,13,3354,eukaryota,anas_platyrhynchos,geneidblastx,16814,Complete,51.6,8839,0.516,Anas platyrhynchos
19,19,3354,eukaryota,anser_brachyrhynchus,geneidblastx,14254,Complete,58.5,132585,0.585,Anser brachyrhynchus
25,25,3354,eukaryota,anser_cygnoides,geneidblastx,14172,Complete,57.6,8845,0.576,Anser cygnoides
...,...,...,...,...,...,...,...,...,...,...,...
601,601,3354,eukaryota,varanus_komodoensis,geneidblastx,17734,Complete,58.9,61221,0.589,Varanus komodoensis
607,607,3354,eukaryota,xiphophorus_couchianus,geneidblastx,18227,Complete,40.9,32473,0.409,Xiphophorus couchianus
613,613,3354,eukaryota,xiphophorus_maculatus,geneidblastx,20775,Complete,49.5,8083,0.495,Xiphophorus maculatus
619,619,3354,eukaryota,zalophus_californianus,geneidblastx,23768,Complete,64.9,9704,0.649,Zalophus californianus
625,625,3354,eukaryota,zosterops_lateralis_melanops,geneidblastx,12357,Complete,46.0,1220523,0.460,Zosterops lateralis melanops

In [60]:
columns_iwant = ['species','taxonID','score','species_space']
export_df = df[(df['tool']=='geneidblastx')&(df['BUSCO_tag']=='Complete')][columns_iwant]

In [65]:
export_df.to_csv('../results/geneidx_score_id.csv',index=False)

In [67]:
columns_iwant = ['species','taxonID','score','species_space']
export_df = df[(df['tool']=='geneid')&(df['BUSCO_tag']=='Complete')][columns_iwant]

In [68]:
export_df.to_csv('../results/geneid_score_id.csv',index=False)